<h1>Proud Clans</h1>
{{#each model as |proudclan|}}
	<div class="well">
				<small>
        clan Name: {{proudclan.clanName}}  
        Clan Tag: {{#link-to 'clans.edit' clan_id}}{{proudclan.clanTag}}{{/link-to}}
        Clan Tag: {{proudclan.clanTag}}
        Join Date: {{moment-format proudclan.dateJoined 'YYYY-MM-DD'}} 
        <button {{action 'deleteClan' clan.id}} class="btn btn-default">Delete</button></small>
	</div>
{{/each}}
